<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="labels">
        <div class="day-label">Monday</div>
        <div class="day-label">Tuesday</div>
        <div class="day-label">Wednesday</div>
        <div class="day-label">Thursday</div>
        <div class="day-label">Friday</div>
        <div class="day-label">Saturday</div>
      </div>
      <div class="grid">
        <div class="days">
          {% for day in [ "Monday", "Tuesday", "Wednesday", "Thursday",
          "Friday", "Saturday" ] %}
          <!-- {{day}} -->
          <section class="day">
            <ul class="events">
              <li class="mobile-day-label-li" style="display: none">
                <div class="mobile-day-label">{{day}}</div>
              </li>
              {% for event in Timetable[day]%}
              <li>
                <div
                  class="event"
                  style="top: calc(var(--row-height) * {{event.start_offset}}); height: calc(var(--row-height) * {{event.duration}})"
                >
                  {{event.name}}
                </div>
              </li>
              {% endfor %}
            </ul>
          </section>
          {% endfor %}
        </div>
        <div class="schedule-grid" aria-hidden="true">
          <div class="grid-row">
            <span class="time-label">9:00</span>
          </div>
          <div class="grid-row">
            <span class="time-label">10:30</span>
          </div>
          <div class="grid-row">
            <span class="time-label">12:00</span>
          </div>
          <div class="grid-row">
            <span class="time-label">13:30</span>
          </div>
          <div class="grid-row">
            <span class="time-label">15:00</span>
          </div>
          <div class="grid-row">
            <span class="time-label">16:30</span>
          </div>
          <div class="grid-row">
            <span class="time-label">18:00</span>
          </div>
          <div class="grid-row">
            <span class="time-label">19:30</span>
          </div>
          <div class="grid-row">
            <span class="time-label">21:00</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
