<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div>
      <div class="labels">
        <div class="day-label">Monday</div>
        <div class="day-label">Tuesday</div>
        <div class="day-label">Wednesday</div>
        <div class="day-label">Thursday</div>
        <div class="day-label">Friday</div>
        <div class="day-label" style="border-right-width: 1px">Saturday</div>
      </div>
      <div class="grid">
        <div class="week-schedule">
          {% for day in [ "Monday", "Tuesday", "Wednesday", "Thursday",
          "Friday", "Saturday" ] %}
          <!-- {{day}} -->
          {% if day == "Saturday" %}
          <section class="day" style="border-right-width: 1px">
            {% else %}
            <section class="day">
              {% endif %}
              <ul class="events">
                {% for event in Timetable[day]%}
                <li>
                  <div class="event"
                    style="top: calc(var(--row-height) * {{event.start_offset}}); height: calc(var(--row-height) * {{event.duration}})">
                    {{event.name}}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </section>
            {% endfor %}
        </div>
        <div class="schedule-grid" aria-hidden="true">
          <div class="grid-row"></div>
          <div class="grid-row"></div>
          <div class="grid-row"></div>
          <div class="grid-row"></div>
          <div class="grid-row"></div>
          <div class="grid-row"></div>
          <div class="grid-row"></div>
          <div class="grid-row"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
