:root {
  --label-row-height: 2rem;
  --row-height: 4rem;
  --column-min-width: 7rem;
  --time-periods: 8;
  --time-margin: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  position: relative;
}

.week-schedule {
  margin-left: 60px;
}

.days {
  display: flex;
  position: relative;
  height: calc(
    var(--time-periods) * var(--row-height) + var(--label-row-height)
  );
  z-index: 2;
}

.day-label {
  flex-grow: 1;
  flex-basis: 0;
  box-sizing: border-box;
  min-width: var(--column-min-width);
  text-align: center;
  height: var(--label-row-height);
}

.grid {
  position: relative;
  margin-left: var(--time-margin);
}

.day {
  flex-grow: 1;
  flex-basis: 0;
  box-sizing: border-box;
  border: 0px solid;
  border-left-width: 1px;
  min-width: var(--column-min-width);
}

.day-label:last-child,
.day:last-child {
  border-right-width: 1px;
}

.events {
  list-style: none;
  position: relative;
  margin: 0;
}

.event {
  background: green;
  position: absolute;
  left: 0;
  width: 100%;
}

.schedule-grid {
  z-index: 1;
  display: block;
  left: 0;
  position: absolute;
  top: var(--label-row-height);
  width: 100%;
}

.grid-row {
  position: relative;
  height: var(--row-height);
  box-sizing: border-box;
  border: 0px solid;
  border-bottom-width: 1px;
}

.grid-row:last-child {
  border-bottom-width: 0;
}

.grid-row:first-child {
  border-top-width: 1px;
}

.time-label {
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: calc(-1 * var(--time-margin));
}

.time-label::after {
  content: "";
  position: absolute;
}

/* Mobile version */
@media (max-width: 700px) {
  .labels {
    display: none;
    margin-left: 0;
  }

  .grid {
    margin-left: 0;
  }

  .days {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 0;
    /* z-index: 2; */
  }

  .schedule-grid {
    display: none;
  }

  .day {
    border: 0px solid !important;
  }

  .events {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .event {
    /* display: inline-block !important; */
    position: relative;
    top: auto !important;
    height: var(--row-height) !important;
    width: 100%;
  }
}
